<a href="https://colab.research.google.com/github/carlos-cui/data_analysis/blob/master/titanic%20data%20visualization/Visualizing_Titanic_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Visualzing Titanic Data

I know, we're all tired of this dataset but it's part of this exercise

In [0]:
import pandas as pd

In [0]:
# we will be using the train dataset
titanic = pd.read_csv('https://raw.githubusercontent.com/carlos-cui/data_analysis/master/titanic%20data%20visualization/train.csv')

In [13]:
titanic.shape

(891, 12)

In [14]:
titanic.head(2)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C

[2 rows x 12 columns]

In [0]:
# let's drop columns we won't be using for exploration
titanic.drop(['PassengerId', 'Name', 'Parch', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [0]:
# we will also be dropping any rows with null values
titanic.dropna(inplace=True)

In [17]:
titanic.shape

(712, 7)